{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}
  Конкурс рецептов мороженого
{% endblock %}

{% block content %}
  {% with data=form.instance %}
    <!--  Здесь должен быть заголовок в теге h2;
      содержимое заголовка должно зависеть
      от выполняемого действия  -->
    {% if '/edit/' in request.path %}
      <h1>Редактировать запись {{ data.pk }}</h1>
    {% elif '/delete/' in request.path %}
      <h1>Удалить запись {{ data.pk }}</h1>
    {% else %}
      <h1>Создать запись</h1>
    {% endif %}
    <div class="card col-4">
      <div class="card-header">Конкурс мороженого</div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          <!--  В зависимости от выполняемого действия здесь должна
            отображаться либо форма, либо данные из заявки в тегах p  -->
          {% if not '/delete/' in request.path %}
            {% bootstrap_form form %}
          {% else %}
            <p>{{ data.title }}</p>
            <p>{{ data.price }}</p>
            <p>{{ data.description }}</p>
            <p>{{ data.comment }}</p>
          {% endif %}
          {% bootstrap_button button_type='submit' content='Отправить' %}
        </form>
      </div>
    </div>
    {% if form.is_valid %}
      <h2>Рецепт мороженого {{ data.title }} принят на конкурс!</h2>
      <div>Номер заявки: {{ data.id }}</div>
    {% endif %}
  {% endwith %}
  <hr />
  <div>
    <a href="{% url 'contest:list' %}">Список всех заявок</a>
  </div>
{% endblock %}
